#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #FBFBFB;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

th { 
  text-align: left;
}

.table-heading {
  color: #0A0A0A;
  font-family: "DM Sans";
  font-size: 0.85163rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.27744rem; /* 150% */


  width: 10.64506rem;
  height: 2.59031rem;
  padding: 0.69194rem 6.81881rem 0.58588rem 0.63869rem;
}

table {
  height: 100%;
}

.table {
  height: 100%;
}
