@import "tailwindcss";
@tailwind utilities;

@layer components {
  /* White Button */
  .white-button {
    @apply inline-flex items-center justify-center
           text-[#6C6C6C] bg-white border border-gray-300
           px-4 py-2.5 rounded-lg font-normal!
           transition-all duration-200 ease-in-out
           hover:bg-[rgba(108,108,108,0.05)] hover:border-gray-400
           disabled:opacity-50 disabled:cursor-not-allowed;
  }
  /* White-Green Button */
  .white-green-button {
    @apply inline-flex items-center justify-center
           bg-white
           px-4 py-2.5 rounded-sm font-normal!
           transition-all duration-200 ease-in-out
           text-[#337E89] outline outline-solid outline-[#337E89]
          hover:bg-[rgba(51,126,137,0.05)]
           disabled:opacity-50 disabled:cursor-not-allowed;
  }

  /* Blue Button */
  .blue-button {
    @apply inline-flex items-center justify-center
           text-white bg-[#021E35] 
           px-4 py-2.5 rounded-sm font-normal!
           transition-all duration-200 ease-in-out
           hover:bg-[#022A4B]
           disabled:opacity-50 disabled:cursor-not-allowed;
  }

  /* Green Button */
  .green-button {
    @apply inline-flex items-center justify-center
           text-white bg-[#337E89] 
           px-4 py-2.5 rounded-sm font-normal!
           transition-all duration-200 ease-in-out
           hover:bg-[rgba(51,126,137,0.75)]

           disabled:opacity-50 disabled:cursor-not-allowed;
  }
  /* Grey Button */
  .grey-button {
    @apply inline-flex items-center justify-center
           text-white bg-[#6C6C6C] 
           px-4 py-2.5 rounded-sm font-normal!
           transition-all duration-200 ease-in-out
           hover:bg-[rgba(108,108,108,0.75)]
           disabled:opacity-50 disabled:cursor-not-allowed;
  }
}

@layer base {
@font-face {
  font-family: 'Arimo';
  src: url('../src/assets/fonts/Arimo-Regular.woff2') format('woff2'),
  url('../src/assets/fonts/Arimo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'Arimo';
  src: url('../src/assets/fonts/Arimo-Regular.woff2') format('woff2'),
      url('../src/assets/fonts/Arimo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'DM Sans';
  src: url('../src/assets/fonts/DMSans-9ptRegular.woff2') format('woff2'),
      url('../src/assets/fonts/DMSans-9ptRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
}

:root {
  font-family: 'DM Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;

  background-color: #FBFBFB;
  color: #242424;

  width: 100%;
  height: 100%;
}

a {
  font-weight: 600;
  color: #fff;
  text-decoration: inherit;
  color: #FFF;
  font-style: normal;
  line-height: 1.625rem; /* 162.5% */
}

a:hover {
  color: #fff;
}

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  height: 2.5rem;
  padding: 0.625rem 1.25rem;
  border-radius: 0.25rem;
  line-height: 1.25rem;
  gap :0.25rem;
  border: 1px solid #E5E8EB;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
  text-align: center;
  
}
button:focus-visible {
  outline: none;
}



table {
  border-radius: 0.25rem;
}

td {
  width: 9.79344rem;
  height: 5.1288rem;
  padding: 0.33869rem 0.63869rem;

}

/* form {
  font-family: 'Arimo';
} */
