@import "tailwindcss";

@font-face {
  font-family: 'DM Sans';
  src: url('../src/assets/fonts/DMSans-9ptRegular.woff2') format('woff2'),
      url('../src/assets/fonts/DMSans-9ptRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans Italic';
  src: url('../src/assets/fonts/DMSans-9ptItalic.woff2') format('woff2'),
      url('../src/assets/fonts/DMSans-9ptItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

:root {
  font-family: 'DM Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;

  background-color: rgba(255, 255, 255, 0.87);
  color: #242424;

  width: 100%;
  height: 100%;
}

a {
  font-weight: 600;
  color: #fff;
  text-decoration: inherit;
  color: #FFF;
  font-style: normal;
  line-height: 1.625rem; /* 162.5% */
}

a:hover {
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
